<div class="container-fluid">

  <div class="jumbotron text-center">
    <h1><span class="glyphicon glyphicon-film"></span> Movie<sup>Base</sup></h1>
    <p class="lead">

    </p>
  </div>

  <div class="row">
    <div class="col-xs-12">
      About page.
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>
