<div class="container-fluid">
  <div class="row">

    <!--channels-->
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Channels</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4 col-md-3" ng-repeat="channel in MainCtrl.youtube.channels | limitTo: 10">
                        <div class="thumbnail" style="background-image: url('{{channel.thumbnails.p720.url || channel.thumbnails.p640.url || channel.thumbnails.p480.url || channel.thumbnails.p320.url || channel.thumbnails.standard.default}}'); background-size: cover;background-position-y: 50%;">
                            <div class="caption">
                                <h3>{{channel.title}}</h3>
                                <p>{{channel.description | limitTo:64 }}...</p>
                                <p><a ui-sref="base.channel.watch({id: channel.id})" class="btn btn-primary" role="button">Watch!</a></p>
                                <p class='text-right'><span class="label label-default">Since {{channel.publishedAt}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <!--playlists-->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Playlists</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="playlist in MainCtrl.youtube.playlists | limitTo: 10">
                                <a ui-sref="base.playlist.watch({id: playlist})">{{playlist}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
            </div>
            
            <!--logo-->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="jumbotron text-center">
                    <h1><span class="glyphicon glyphicon-film"></span> Movie<sup>Base</sup></h1>
                    <p class="lead">
                        Let's watch movies!
                    </p>
                </div>
            </div>

            <!--videos-->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Videos</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="video in MainCtrl.youtube.videos | limitTo: 10">
                                <a ui-sref="base.movie.watch({id: video})">{{video}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
            </div>
        </div>
    </div>


    
  </div>

  <hr>

    <div class="text-center">
        <uib-pagination total-items="MainCtrl.totalItems" ng-model="MainCtrl.currentPage" ng-change="MainCtrl.pageChanged()" items-per-page="MainCtrl.maxSize"></uib-pagination>
    </div>
    <p><sup>by</sup> Rvach.Flyver</p>

</div>
