<h2>EDIT: <a href="{{movie.link[0].href}}">{{movie.title.$t}}</a></h2>
<p><span>{{movie.published.$t}}</span> | <span>{{movie.author[0].name.$t}}</span></p>
<p>{{movie.title.$t}}</p>
<p style="text-align: center">
  <iframe width="854" height="510" src="{{embedURL}}" frameborder="0" allowfullscreen></iframe>
</p>      