body{ 
    min-height: 720px;
    min-width: 1280px;
    // overflow: hidden;   
}
.container-fluid{
	padding: 0 45px;
	transition: all 5s ease;		
}
#page-content-wrapper {
    overflow: auto;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
  background-size: contain;

  img.pull-right {
    width: 50px;
  }

  div.caption{
  	height: 100%;
	background-color: rgba(240, 248, 255, 0.86);
  }
  div.caption:hover{
  	color: black;
	background-color: rgba(240, 248, 255, 0.76);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }  

  div.caption p{
  	word-wrap: break-word;
  }
}

div nav {
    height: 10% !important;
}

.sidebar{
	z-index: 1000;
	position: absolute;
		top:50px;
		right: 0;
		width: 15px;
        height: 90%;
		margin-left: -250px;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #222;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.sidebar:hover{
	width: 250px;
}
.sidebar div{
	width: 100%;
	height: 260px;
	margin: 1px;
	overflow: hidden;

}
.sidebar table{
	color: white;
	margin: 0 auto;
}
.sidebar div:nth-child(odd) div.title{
	width: 15px;
	margin: 0px;	
	float: left;
	text-align: center;	
	background: white;
}
.sidebar div:nth-child(even) div.title{
	width: 15px;
	margin: 0px;		
	float: right;
	text-align: center;	
	background: white;

}
.sidebar div:hover{
	text-decoration: none;
	background: #252525;
}

.footer{
	z-index: 999;
	position: fixed;
		bottom: 0px;
		right: 0;
		width: 100%;
        height: 50px;
		margin-left: -250px;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #222;
    border-top: 10px solid black;
    border-right: 15px solid #222;;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.footer:hover{
	height: 250px;
}

//Animations
	.ng-enter {
	  -webkit-transition: 1s;
	  transition: 1s;
	  opacity: 0;
	}
	.ng-enter-active {
	  opacity: 1;
	}

	.ng-leave {
	  opacity: 1;
	}
	.ng-leave-active {
	  -webkit-transition: 1s;
	  transition: 1s;
	  opacity: 0;
	}

// injector
// endinjector
