  <div class="jumbotron text-center">
    <h1><span class="glyphicon glyphicon-film"></span> Movie<sup>Base</sup></h1>
    <p class="lead">
        Ho-ho-ho! Look what we have here!
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3" ng-repeat="movie in PlaylistWatchCtrl.movies | limitTo:PlaylistWatchCtrl.maxSize">
     <a ui-sref="base.movie.watch({id: movie.videoId})">
      <div class="thumbnail" style="background-image: url('{{movie.thumbnails.p720.url || movie.thumbnails.p640.url || movie.thumbnails.p480.url || movie.thumbnails.p320.url || movie.thumbnails.standard.default}}');">
        <img class="pull-right" ng-src="{{movie.thumbnails.p720.url || movie.thumbnails.p640.url || movie.thumbnails.p480.url || movie.thumbnails.p320.url || movie.thumbnails.standard.default}}" alt="{{movie.title}}">
        <div class="caption">
          <h3>{{movie.title | limitTo:15}}...</h3>
          <p>{{movie.description | limitTo:200}}</p>
        </div>
      </div>
     </a>
    </div>
    
  </div>

  <hr>

    <div class="text-center">
        <uib-pagination total-items="PlaylistWatchCtrl.totalItems" ng-model="PlaylistWatchCtrl.currentPage" ng-change="PlaylistWatchCtrl.pageChanged()" items-per-page="PlaylistWatchCtrl.maxSize"></uib-pagination>
    </div>
    <p><sup>by</sup> Rvach.Flyver</p>
