<div class="container-fluid" ui-view>

  <div class="jumbotron text-center">
    <h1><span class="glyphicon glyphicon-film"></span> Movie<sup>Base</sup></h1>
    <p class="lead">
        <input type="text" ng-model="PlaylistCtrl.playlists" placeholder="comma separated playlists"> <input type="button" value="GO" ng-click="PlaylistCtrl.getPlaylists()">
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3" ng-repeat="movie in PlaylistCtrl.movies | limitTo:PlaylistCtrl.maxSize">
     <a ui-sref="base.movie.watch({id: movie.videoId})">
      <div class="thumbnail" style="background-image: url('{{movie.thumbnails.p720.url || movie.thumbnails.p640.url || movie.thumbnails.p480.url || movie.thumbnails.p320.url || movie.thumbnails.standard.default}}');">
        <img class="pull-right" ng-src="{{movie.thumbnails.p720.url || movie.thumbnails.p640.url || movie.thumbnails.p480.url || movie.thumbnails.p320.url || movie.thumbnails.standard.default}}" alt="{{movie.title}}">
        <div class="caption">
          <h3>{{movie.title | limitTo:15}}...</h3>
          <p>{{movie.description | limitTo:200}}</p>
        </div>
      </div>
     </a>
    </div>
    
  </div>

  <hr>

    <div class="text-center">
        <uib-pagination total-items="PlaylistCtrl.totalItems" ng-model="PlaylistCtrl.currentPage" ng-change="PlaylistCtrl.pageChanged()" items-per-page="PlaylistCtrl.maxSize"></uib-pagination>
    </div>
    <p><sup>by</sup> Rvach.Flyver</p>

</div>
