<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarController">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="base.home">
        <span class="glyphicon glyphicon-home"></span> Movie<sup>Base</sup>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="base.home">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="base.channel">Channel</a></li>
        <li ui-sref-active="active"><a ui-sref="base.playlist">Playlist</a></li>
        <li ui-sref-active="active"><a ui-sref="base.about">About</a></li>    
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><sup>Login</sup></li>
        <li><sub>Register</sub></li>
      </ul>
    </div>
  </div>
</nav>
