<div>
	<div class="title">
			<span class="glyphicon glyphicon-flag"></span><p vertical-text>TOP</p>
	</div>
	<div top-movies playlist="B2A4E1367126848D"></div>
</div>

<div>
	<div class="title">
		<span class="glyphicon glyphicon-dashboard"></span>
		<p vertical-text>RECENT</p>
	</div>
</div>

<div>
	<div class="title">
		<span class="glyphicon glyphicon-bullhorn"></span>
		<p vertical-text>DISCUSSED</p>
	</div>
</div>