  <div class="jumbotron text-center">
    <h1><span class="glyphicon glyphicon-film"></span> Movie<sup>Base</sup></h1>
    <p class="lead">
        <input type="text" ng-model="ChannelWatchCtrl.channels" placeholder="comma separated channels"> <input type="button" value="GO" ng-click="ChannelWatchCtrl.getPlaylists()">
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3" ng-repeat="playlist in ChannelWatchCtrl.playlists | limitTo:ChannelWatchCtrl.maxSize">
        <a ui-sref="base.playlist.watch({id: playlist.id})">
            <div class="thumbnail" style="background-image: url('{{playlist.thumbnails.p720.url || playlist.thumbnails.p640.url || playlist.thumbnails.p480.url || playlist.thumbnails.p320.url || playlist.thumbnails.standard.default}}');">
                <img class="pull-right" ng-src="{{playlist.thumbnails.p720.url || playlist.thumbnails.p640.url || playlist.thumbnails.p480.url || playlist.thumbnails.p320.url || playlist.thumbnails.standard.default}}" alt="{{playlist.title}}">
                <div class="caption">
                <h3>{{playlist.title | limitTo:15}}...</h3>
                <p>{{(playlist.description || 'No Description Avaliable...' ) | limitTo:200 }}</p>
                </div>
            </div>
        </a>
    </div>
    
  </div>

  <hr>

    <div class="text-center">
        <uib-pagination total-items="ChannelWatchCtrl.totalItems" ng-model="ChannelWatchCtrl.currentPage" ng-change="ChannelWatchCtrl.pageChanged()" items-per-page="ChannelWatchCtrl.maxSize"></uib-pagination>
    </div>
    <p><sup>by</sup> Rvach.Flyver</p>
