<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12" ui-view></div>
  </div>

  <div class="jumbotron text-center">
    <h1><span class="glyphicon glyphicon-film"></span> Movie<sup>Base</sup></h1>
    <p class="lead">
            
    </p>
  </div>

  <div class="footer">

  </div>

</div>
