<div ng-include="'components/navbar/navbar.html'"></div>
<div ui-view id="page-content-wrapper"></div>
<div ng-include="'components/sidebar/sidebar.tmpl.html'" id="sidebar-wrapper" class="sidebar"></div>

<div class="footer">
  <div class="row" style="font-family: monospace;">
    <div class="col-sm-6 col-md-6 col-lg-3" style="background: #111; color: white"> 
        <div style="background: white; color: black;">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> S t a t s :
        </div>
        <table width='100%'>
            <tr><td>- movies count:</td><td>{{BaseCtrl.moviesCount}}</td></tr>
            <tr><td>- playlist count:</td><td>{{BaseCtrl.playlistsCount || '-'}}</td></tr>
            <tr><td></td><td></td></tr>
        </table>
         
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3"> 
        <hr>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3"> 
        <hr>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3"> 
        <hr>
    </div>
</div>